* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 1100px;
}

.container-2 {
  margin-left: calc(50% - 120px);
}

.container-3 {
  margin-left: calc(100% - 250px);
}

.block {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  overflow: auto;
}

.block__item {
  background-color: rgb(204, 204, 204);
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.h-220 {
  height: 221px;
}

.m1 {
  margin-left: 13px;
}

.m2 {
  margin-top: 132px;
  margin-left: -110px;
}
